{
    "folders": [
        {
            "path": "../cluster-api"
        },
        {
            "path": "../cluster-api/test"
        }
    ],
    "settings": {
        "go.goroot": "__REPO_ROOT_DIR__"
    }
}